#vt_header{
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.3, #900),color-stop(0.7, #600));
  padding: 20px 0;
}

#vt_footer{
  background-color: black;
  color: white;
  padding: 10px;

}

body{
  background: #FAFAE2;
  min-width: 980px;
}

#vt_header h1 a {
  position: relative;
  display: block;
  width: 334px;
  height: 72px;
  margin: 0 0 10px 0;
  color: #fff;
  text-indent: -9999px;
  display: block;
  background: transparent url(../img/usc-logo.svg) 0 0 no-repeat;
  background-size: 332px;
}

#vt_header{
  padding: 10px;
}

#vt_header h1{
  float:left;
}

#vt_header .container{
  height: 110px;
}

#global_search{
  float:right !important;
}

.navbar-red {
  border-top: solid 1px #912323;
  background-color: #600;
  background-image: none;
  color: #fff;
  box-shadow: none;
}

.navbar-red a{
  color: #fff;
}

.navbar-red li{
  text-align: center;
  font-size: 15px;
}

.navbar-red a:hover{
  background-color: #440303 !important;
}

.navbar-red a:focus{
  background-color: #440303 !important;
} 